$primaryMU: #FCF7FF;
$primaryMD: #ECEBF3;
$accent-color: #003559;
$border: 1px solid #625561;
$mdShadow:  rgba(136, 165, 191, 0.769) 0px 5px 0.5rem 2px inset;
$muShadow: 16px -16px 0.5rem -5px rgba(0, 53, 89, 0.25);


$textEditor: black;
$padding: 0.5rem 2rem;